:root {
    --gradient: linear-gradient(
        180deg,
        rgba(45, 112, 125, 0.73) 0%,
        #163e92 100%
    );
    --dark:#001747;
    --grey:#b1bacb;
    --grey-border:rgba(210,210,210,0.75);
    --grey-light:#eeeeee;
    --grey-dark:$405175;
    --blue:#2d70fd;
    --green:#00d8a7;
    --white:#ffffff;
}

body{
    margin: 0;
    height:100vh;
    background: var(--gradient);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* covering the button classs */
.btn{
    padding: 18px 30px;
    color: var(--white);
    font-size: 16px;
    border-radius:0.3rem;
    background-color: var(--blue);
    position: absolute;
    right:0.5rem;
    bottom: 0.5em;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0%;
}
.todo{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2rem;
    background: var(--white);
    padding: 3rem;
    height: 50%;
    width: 60%;
    box-shadow: 0 1rem 3rem 1rem;
    max-width: 30rem;
}
h1{
    text-transform: uppercase;
    height: 3rem;
    color: var(--dark);
    text-align: center;
}
.input{
    position: relative;
    display: flex;
}
.input-feild{
    width: 74%;
    height: 60px;
    border: 0.06rem solid #d2d2d2df;
}
.todo-container{
    display:flex;
    gap:1rem;
}
ul{
    margin: 0%;
    padding: 0%;
    overflow-y: scroll;
}
li{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem;
}
#todoList p{
    color: #00d8a7;
}
.disabled{
    display: flex;
    text-decoration: line-through;
}
input[type="cheakbox"]::before{
    content:"\2713";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 1.7rem;
    text-align: center;
    border:0.06rem solid var(--grey-border);
    color: transparent;
}
input[type="cheakbox"]::before::after{
    color: var(--white);
    background-color: var(--green);
    border: 0.06rem solid var(--green);
}
.counter{
    border: 0.06rem solid var(--grey-light);
}
.counter-container{
    height: 2rem;
    display: flex;
    justify-content: space-between;
    color: var(--grey);
}
.counter-container p{
    align-self: center;
}
.counter-container button{
    border: none;
    background-color: transparent;
    color: var(--grey);
    padding: 1.2rem;
    border-radius: 0.5rem;
}
.footer{
    display: flex;
    gap: 1.8rem;
    background-color: var(--white);
    padding: 1.2rem;
    border-radius: 0.5rem;
}
.made-by,.author{
    font-size: 0.9rem;
}
.author{
    color: var(--blue);
    font-weight: bold;
}
.scroll{
    height: 15rem;
    scrollbar-width: thin;
}
.scroll::-webkit-scrollbar{
    width: 0.6rem;
}
.scroll::-webkit-scrollbar-thumb{
    background: var(--blue);
    border-radius: 0.5rem;
}
.scroll::-webkit-scrollbar-track{
    display: none;
}